<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<section class="container mt-4">
    <h1 class="text-center" style="color: dodgerblue">Debit Portal</h1>
    <form action="{{url_for('debit') }}" method="post">
    <div class="row g-2 mt-4">
        <div class="col-md">
            <div class="form-floating">
                <input type="text" name="name" class="form-control" id="floatingInputGrid" placeholder="User Name" >
                <label for="floatingInputGrid">User Name</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input type="number" name="debit" class="form-control" id="floatingInputGrid2" placeholder="Debit Value" >
                <label for="floatingInputGrid">Loan Value</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary text-center">Ask for Loan</button>
    </div>
    </form>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
